.calendar-month {
  &-week-list {
      display: flex;
      padding: 0;
      width: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;

      &-item {
          padding: 20px 16px;
          text-align: left;
          color: #7d7d7f;
          flex: 1;
      }
  }

  &-body {
    &-row {
      height: 100px;
      display: flex;
    }
    &-cell {
      flex: 1;
      border: 1px solid #eee;
      overflow: hidden;
      &-not-current{
        color: #eee;
      }
      &-date {
        padding: 10px;
        cursor: pointer;
        &-selected {
          background: blue;
          width: 28px;
          height: 28px;
          line-height: 28px;
          text-align: center;
          color: #fff;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
}